.divPrincipal{
    background-color: rgb(170, 0, 0);
    border-bottom: 5px;
    border-color: black;
    border-style: solid;
    height: 120px;
}

.button1{
    background-color: rgb(224, 189, 11);
    color: black;
height: 85px;
width: 85px;
border-radius: 50%;
border-style: solid;
border-width: 4px;
border-color: rgb(0, 0, 0);
font-size: smaller;
margin-right: 1em;
margin-top: -1em;
}

.button2{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}
.create{
text-align: right;
margin-top:-2em
}

.back{
    margin-left: 31em;
    margin-top: -2em;
}
.filterAbc,.filterType,.filterStrength,.created{
    background-color: rgb(5, 113, 255);
    color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 4px;
    height: 50px;
    margin-top: 2em;
}

.contenedorSearch{
    display: flex;
    margin-top: -3em;
}
.searchBar{
    text-align: left;
   
}