/* .fondo{
    width:100vw;
    height:100vh; 
    background-image: url('../Imagenes/wallpaperbetter.com_2880x1620.jpg');
    background-position: center;
    
    

} */

@font-face{
    font-family: "Pokemon1";
    src:url(../Fonts/Pokemon\ Solid.ttf)
}

.video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
 
 /* .ready,.goHome{
    position: absolute;
    color:#ffcc03;
    margin-left: 1em;
    -webkit-text-stroke: 1px rgb(0, 106, 255); 
    font-family: Pokemon1;
    font-size: 60px
    
}  */
.home{
     margin-top: 3em;
     position: absolute;
}
 .img{
    position: absolute;
margin-left: -29em;
 margin-top:15em 
}
   .goHome{
    font-family: Pokemon1;
    color: yellow;
    -webkit-text-stroke: 1px rgb(0, 106, 255); 
   }
   .home{
    margin-left: 1em;
    margin-top: 15em;
   }
.ready{
    position: absolute;
    text-align: center;
    color: aliceblue;
    font-family: Pokemon1;
    margin-left: 3em;
    font-size: 30px;
    -webkit-text-stroke: 3px rgb(0, 106, 255); 
    color: yellow;
    margin-top: -1em;
}